@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'DM Sans', sans-serif;
}




header
{
    width: 100%;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #999;
}




header a 
{
    position: absolute;
    font-size: 1.1em;
    color: #000;
    padding: 8px;
}








.files 
{
    position: fixed;
    width: 100%;
    height: 1100px;
    background: rgba(0,0,0,0.08);
}




.files .file 
{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
}





.files .file a .box 
{
    width: 83px;
    height: 83px;
   border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8.5px;
    background: #fff;
    margin: 1.3rem;
}





.files .file a .box img 
{
    width: 37px;
}




.files .file a .box p
{
    position: absolute;
    font-size: 1em;
    color: #222;
    margin-top: 7rem;
}





.files .footer
{
    display: flex;
    justify-content: center;
}




.files h1
{
    position: absolute;
    font-size: 1.7em;
    padding: 20px;
    margin-top: 6rem;
}






.files .box1
{
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #fff;
   border: 1px solid rgba(0,0,0,0.2);
    margin-top: 10.5rem;
    margin-left: 20px;
}



.files .box1 img 
{
    position: absolute;
    width: 27px;
}





.files .up a 
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    margin-left: 90px;
    margin-top: 11.2rem;
}





.files .box2
{
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 14.5rem;
    margin-left: 20px;
}



.files .box2 img 
{
    position: absolute;
    width: 27px;
}


.files .po a 
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    margin-left: 90px;
    margin-top: 15.2rem;
}






.files .box3
{
    position: absolute;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 18.5rem;
    margin-left: 20px;
}



.files .box3 img 
{
    position: absolute;
    width: 27px;
}


.files .wi a 
{
    position: absolute;
    font-size: 1.3em;
    color: #444;
    margin-left: 90px;
    margin-top: 19.2rem;
}






/*******Loader********/


.loader 
{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    top: 0;
    left: 0;
    background: #fff;
}




.loader .loadi {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  color: #f7c207;
  border: 1px solid #777;
  box-sizing: border-box;
  animation: fill 2s linear infinite alternate;
}

@keyframes fill {
  0% {
    box-shadow: 0 0  inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}




.loader h1 
{
    position: absolute;
    font-size: 1.4em;
    margin-top: 17rem;
}
    







.files .footer h5 
{
    position: absolute;
    font-size: 0.9em;
    margin-top: 35.5rem;
}






/*******New********/


.new 
{
    position: fixed;
    width: 100%;
    height: 1100px;
    background: rgba(0,0,0,0.08);
}




.new div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}



.new div #feedback {
  padding: 4px;
  margin-top: 13.5rem;
  font-size: 1.3em;
}


.new div h1
{
    position: absolute;
    font-size: 2.5em;
    margin-top: 2.5rem;
}


.new div input
{
    position: absolute;
    width: 330px;
    height: 35px;
    font-size: 1.2em;
    margin-top: 9rem;
}



.new div #pi
{
    position: absolute;
    font-size: 1.2em;
    margin-top: 17.5rem;
}







@media only screen and (max-width: 900px) {



.files 
{
    position: fixed;
    width: 100%;
    height: 770px;
    background: rgba(0,0,0,0.08);
}




.files .file 
{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}





.files .file a .box 
{
    width: 53px;
    height: 53px;
   border: 1px solid rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6.5px;
    background: #fff;
    margin: 0.9rem;
}





.files .file a .box img 
{
    width: 27px;
}




.files .file a .box p
{
    position: absolute;
    font-size: 0.7em;
    color: #222;
    margin-top: 5rem;
}





.files .footer
{
    display: flex;
    justify-content: center;
}




.files h1
{
    position: absolute;
    font-size: 1.1em;
    padding: 15px;
    margin-top: 6rem;
}






.files .box1
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fff;
   border: 1px solid rgba(0,0,0,0.2);
    margin-top: 10rem;
    margin-left: 15px;
}



.files .box1 img 
{
    position: absolute;
    width: 20px;
}





.files .up a 
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin-left: 70px;
    margin-top: 10.5rem;
}





.files .box2
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 13rem;
    margin-left: 15px;
}



.files .box2 img 
{
    position: absolute;
    width: 20px;
}


.files .po a 
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin-left: 70px;
    margin-top: 13.5rem;
}






.files .box3
{
    position: absolute;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    margin-top: 16rem;
    margin-left: 15px;
}



.files .box3 img 
{
    position: absolute;
    width: 20px;
}


.files .wi a 
{
    position: absolute;
    font-size: 1em;
    color: #444;
    margin-left: 70px;
    margin-top: 16.5rem;
}






/*******Loader********/


.loader 
{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    top: 0;
    left: 0;
    background: #fff;
}




.loader .loadi {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  color: #f7c207;
  border: 1px solid #777;
  box-sizing: border-box;
  animation: fill 2s linear infinite alternate;
}

@keyframes fill {
  0% {
    box-shadow: 0 0  inset;
  }
  100% {
    box-shadow: 0 -48px inset;
  }
}




.loader h1 
{
    position: absolute;
    font-size: 1.4em;
    margin-top: 17rem;
}
    







.files .footer h5 
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 32.5rem;
}






/*******New********/


.new 
{
    position: fixed;
    width: 100%;
    height: 800px;
    background: rgba(0,0,0,0.08);
}




.new div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
}



.new div #feedback {
  padding: 4px;
  margin-top: 11.5rem;
  font-size: 1em;
}


.new div h1
{
    position: absolute;
    font-size: 1.8em;
    margin-top: 1.5rem;
}


.new div input
{
    position: absolute;
    width: 290px;
    height: 25px;
    font-size: 1.1em;
    margin-top: 7rem;
}



.new div #pi
{
    position: absolute;
    font-size: 0.93em;
    margin-top: 15.5rem;
}






}